# ========================
# APPLICATION
# ========================
APP_NAME=chatterbox-user
APP_ENV=dev

# ========================
# HTTP SERVER
# ========================
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
PUBLIC_BASE_URL=http://localhost

# ========================
# CORS
# ========================
CORS_ALLOWED_ORIGINS=http://localhost:5173
CORS_ALLOW_CREDENTIALS=true

# ========================
# DATABASE
# ========================
POSTGRES_URL=postgres://postgres:postgres@chatterbox-postgres:5432/chat_db?sslmode=disable
MIGRATIONS_PATH=/srv/migrations

# ========================
# Queue
# ========================
RABBITMQ_URL=amqp://guest:guest@chatterbox-rabbitmq:5672/
RABBITMQ_EXCHANGE=chat_events

# ========================
# SECURITY
# ========================
SECURITY_PUBLIC_KEY_PATH=/srv/certs/public.pem

# ========================
# JWT
# ========================
JWT_ISSUER=chatterbox-user-service

# ========================
# LOGGING
# ========================
LOG_LEVEL=debug
