# ========================
# APPLICATION
# ========================
APP_NAME=chatterbox-user
APP_ENV=dev

# ========================
# HTTP SERVER
# ========================
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
PUBLIC_BASE_URL=http://localhost

# ========================
# CORS
# ========================
CORS_ALLOWED_ORIGINS=http://localhost:5173
CORS_ALLOW_CREDENTIALS=true

# ========================
# COOKIES
# ========================
COOKIE_SECURE=false
COOKIE_SAMESITE=lax # lax | none | strict
COOKIE_DOMAIN=
COOKIE_HTTPONLY=true

# ========================
# DATABASE
# ========================
POSTGRES_URL=postgres://postgres:postgres@chatterbox-postgres:5432/user_db?sslmode=disable
MIGRATIONS_PATH=/srv/migrations

# ========================
# SECURITY
# ========================
SECURITY_PUBLIC_KEY_PATH=/srv/certs/public.pem
SECURITY_PRIVATE_KEY_PATH=/srv/certs/private.pem
SECURITY_HASH_COST=10

# ========================
# JWT
# ========================
JWT_ISSUER=chatterbox-user-service
JWT_ACCESS_TTL=1h
JWT_REFRESH_TTL=720h

# ========================
# LOGGING
# ========================
LOG_LEVEL=debug
